In [16]:
import numpy as np
import pandas as pd

import seaborn as sns

# Load the titanic dataset
final_df = sns.load_dataset('titanic')
final_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [17]:
pop_male = final_df[final_df['sex'] == 'male']['age'].dropna()
pop_female = final_df[final_df['sex'] == 'female']['age'].dropna()

In [18]:
# Drawing random samples from each group
sample_male = pop_male.sample(25)
sample_female = pop_female.sample(25)

alpha = 0.05

In [19]:
# H0 - Mean age of male and female are similar
# H1 - Mean age of male is higher than female

In [20]:
print(pop_male.mean(), pop_female.mean())

30.72664459161148 27.915708812260537

*Normality Test*

In [21]:
from scipy.stats import shapiro

# Perform the Shapiro-Wilk test for both desktop and mobile users
shapiro_male = shapiro(sample_male)
shapiro_female = shapiro(sample_female)

print("Shapiro-Wilk test for desktop users:", shapiro_male)
print("Shapiro-Wilk test for mobile users:", shapiro_female)

Shapiro-Wilk test for desktop users: ShapiroResult(statistic=np.float64(0.9402726753386341), pvalue=np.float64(0.15019299769899003))
Shapiro-Wilk test for mobile users: ShapiroResult(statistic=np.float64(0.9659108965320355), pvalue=np.float64(0.5441242139909652))

*Equal Variance Test*

In [22]:
from scipy.stats import levene

# Perform Levene's test
levene_test = levene(sample_male, sample_female)
print(levene_test)

LeveneResult(statistic=np.float64(0.16480686695278995), pvalue=np.float64(0.6865731052220116))

In [23]:
import scipy.stats as stats

t_statistic, p_value = stats.ttest_ind(sample_male, sample_female)
# ttest_ind -> Independent 2 sample T-Test

print("t-statistic:", t_statistic)
print("p-value:", p_value / 2)

t-statistic: 0.4372975735716563
p-value: 0.3319284021550161

In [24]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Fail to reject the null hypothesis.