In [1]:
import numpy as np
import pandas as pd

import seaborn as sns

# Load the titanic dataset
final_df = sns.load_dataset('titanic')
final_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
pop = final_df['age'].dropna()
pop.mean()

np.float64(29.69911764705882)

In [4]:
sample_age = pop.sample(25).values
sample_age

array([36.  , 17.  , 36.  , 21.  , 22.  , 42.  , 59.  ,  0.92,  1.  ,
       25.  , 20.  , 20.  ,  0.42, 19.  , 32.  , 11.  , 19.  , 22.  ,
        1.  , 29.  , 28.  , 27.  , 19.  , 17.  , 54.  ])

In [5]:
# H0 -> The mean age is 35
# H1 -> The mean is less than 35

In [6]:
# check for normality using Shapiro Wilk test
from scipy.stats import shapiro

shapiro_age = shapiro(sample_age)

print(shapiro_age)

ShapiroResult(statistic=np.float64(0.9346397007835037), pvalue=np.float64(0.11126196973167857))

In [7]:
pop_mean = 35

In [8]:
import scipy.stats as stats

t_statistic, p_value = stats.ttest_1samp(sample_age, pop_mean)

print("t-statistic:", t_statistic)
print("p-value:", p_value/2)

t-statistic: -3.9661542166279125
p-value: 0.00028696526404538563

In [9]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Reject the null hypothesis.